#header{
    width:100%;
    position: fixed;
    // position: absolute;
    left: 0;
    top: 0;
    z-index: 10000;
    .header__inner{
        background-color: black;
        display: flex;
        justify-content: center;
        height: 130px;
        .header__logo{
            img{
                width: 140px;
            }
        }
        .Nav{
            color: white;
            // margin: 30px;
            // margin-top: 20px;
            display: flex;
            justify-content: center;
            margin: 50px;
            span{
                margin: 50px
            }
            button{
                margin-top: 40px;
            }
        }
        
        
    }
}