#login{
    background-color: black;
    height: 120vh;
    .login__inner{
        padding: 170px;
        display: flex;
        justify-content: center;
        .login-image{
            img{
                width: 410px;
            }
            input,button{
                display:flex;
                justify-content: center;
                margin-left: 130px;
            }
            button{
                margin-left: 190px;
            }

        }
    }
}

@media screen and (min-width:1024px) {
}
@media screen and (max-width:1023px) {
    #login{
        .login__inner{
            height: 100vh;
            .login-image{
                img{
                    width: 320px;
                }
                input{
                    margin-left: 80px;
                }
                button{
                    margin-left: 140px;
                }
            }
        }
    }
}
@media screen and (max-width:767px) {
    #login{
        height: 200vh;
        .login__inner{
            height: 100vh;
            .login-image{
                img{
                    width: 300px;
                }
            }
        }
    }
}